{{>header }}
<div class='container'>
  <h1 style="text-align:center;padding-top:1%;font-family:sofia;font-size:64px;color:#be5683;text-decoration: underline;">Masterpieces Ltd.</h1>
    <h2 style="text-align:center;padding-top:1%;font-family:monospace;color:#848ccf;">Inhale Possibility, Exhale Creativity.</h2>
  <img src="img/pencil.jpeg" style="width:100%;height:600px;opacity:1;">
  <div class="sonar-wrapper" >
  <div class="sonar-emitter">
    <div style="padding-top:25px;padding-left:11px;font-size:22px;font-family: monospace;"><a href="paintings" style="color:#000000;">RENT</a></div>
    <div class="sonar-wave"></div>
  </div>
</div>
<div class="sonar-wrapper1" >
  <div class="sonar-emitter1">
    <div style="padding-top:24px;padding-left:13px;font-size:22px;font-family: monospace;"><a href="paintings" style="color:#000000;">SELL</a></div>
    <div class="sonar-wave1"></div>
  </div>
</div>
</div>






<h3 style="text-align:center;font-size:30px;font-family:monospace;color:#ff5722;font-weight:lighter;text-decoration: underline;">FEATURED PAINTINGS</h3>

<div class='col-sm-12' style="padding-bottom: 20px;padding-top:10px;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%;padding-top: 0px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="width: 100%">

      <div class="item active">
          <div class="col-sm-4" style="padding-left: 0px;padding-right: 0px;">
            <img src="img/p1.jpg" style="height: 550px;width: 570px;"  style="width:100%;">
          </div>
          <div class="col-sm-4" style="padding-left: 0px;padding-right: 0px;">
            <img src="img/p2.jpg" style="height: 550px;width: 570px;"  style="width:100%;">
          </div>
          <div class="col-sm-4" style="padding-left: 0px;padding-right: 0px;">
            <img src="img/p3.jpg" style="height: 550px;width: 570px;"  style="width:100%;">
          </div>
      </div>

      <div class="item ">
          <div class="col-sm-4" style="padding-left: 0px;padding-right: 0px;">
            <img src="img/p4.jpg" style="height: 550px;width: 570px;"  style="width:100%;">
          </div>
          <div class="col-sm-4" style="padding-left: 0px;padding-right: 0px;">
            <img src="img/p10.jpg" style="height: 550px;width: 570px;"  style="width:100%;">
          </div>
          <div class="col-sm-4"style="padding-left: 0px;padding-right: 0px;">
            <img src="img/p11.jpg" style="height: 550px;width: 570px;"  style="width:100%;">
          </div>
             
      </div>
       
      <div class="item">
            <div class="col-sm-6" style="padding-left: 0px;padding-right: 0px;">
            <img src="img/p7.jpg" style="height: 550px;width: 870px;"  style="width:100%;">
            </div>
            <div class="col-sm-6" style="padding-left: 0px;padding-right: 0px;">
            <img src="img/p8.jpg" style="height: 550px;width: 870px;"  style="width:100%;">
            </div>
      </div>
  
    </div> 

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
</div>
{{>footer}}
