{{#if isLoggedIn}}
   {{>logged_header}}
{{else}}
  {{>header}}
{{/if}}
<div class="container" style="background-color:#28df99;margin-top:0px;margin-bottom:0px;border-radius: 5px;width: 100%">
<div class="row">
<div class="col-sm-2" style="font-size:30px;font-weight: bold;font-family: sofia;">Filters:</div>
  <div class="col-sm-2">
  	<div class="dropdown">
  		<button style="font-size:30px;font-weight: lighter;font-family: sofia;">Sort By</button>
  		<div class="dropdown-content" style="font-family: monospace;">
          <p>Newest</p>
    	  <p>Oldest</p>
          <p>Best Selling</p>
          <p>Alphabetical</p>
          <p>Price</p>
  		</div>
	</div>
  </div>
  <div class="col-sm-2">
  	<div class="dropdown">
  		<button style="font-size:30px;font-weight: lighter;font-family: sofia;">Theme</button>
  		<div class="dropdown-content" style="font-family: monospace;">
           <p>Abstarct</p>
           <p>Conceptual</p>
           <p>Cubism</p>
           <p>Decorative</p>
           <p>Digital</p>
           <p>Expressionism</p>
           <p>Fantasy</p>
           <p>Folk</p>
           <p>Impressionism</p>
           <p>Illustration</p> 
           <p>Realism</p>
  		</div>
  		</div>
	</div>
<div class="col-sm-2">
  <div class="dropdown">
  		<button style="font-size:30px;font-weight: lighter;font-family: sofia;">Artists</button>
  		<div class="dropdown-content" style="font-family: monospace;">
    		<p>John Wick</p>
    		<p>Tom Cruise</p>
    		<p>Keanu Reaves</p>
    		<p>Leanardo DiCaprio</p>
    		<p>Will Smith</p>
		</div>
	</div>
</div>
<div class="col-sm-2">
  <div class="dropdown">
  		<button style="font-size:30px;font-weight: lighter;font-family: sofia;">Size</button>
  		<div class="dropdown-content" style="font-family: monospace;">
    		<p>10" x 10"</p>
    		<p>10" x 12"</p>
    		<p>12" x 12"</p>
    		<p>10" x 15"</p>
    		<p>15" x 20"</p>
		</div>
	</div>
</div>
<div class="col-sm-2">
	<div class="hoving">
  <button >Clear Filters</button>
</div>
</div>
</div>
</div>
<div class="container" style="width: 100%;background-color: #ffffff;margin-left: 10px;border-bottom: 1px solid black;border-bottom-style: dashed;">
	<div class="row" style="text-align: center;font-size: 45px;font-family:'Shadows Into Light';">
		Paintings Found
	</div>
	<div class="row">
		<div class="col-sm-4" id="left">
			<div class="opt2" style="background-color: #ec0101;">SOLD</div>
			<img src="img/p1.jpg" style="height: 250px;width: 300px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 1</h7>
		</div>
        <div class="col-sm-4"  id="middle">
        	<div class="opt2" style="background-color: #ec0101;">SOLD</div>
			<img src="img/p2.jpg" style="height: 250px;width: 300px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 2</h7>
		</div>
		<div class="col-sm-4"  id="right">
			<div class="opt1" style="background-color: #79d70f;">In Stock</div>
			<img src="img/p3.jpg" style="height: 250px;width: 300px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 3</h7>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4" id="left">
			<div class="opt1" style="background-color: #79d70f;">In Stock</div>
			<img src="img/p4.jpg" style="height: 250px;width: 300px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 4</h7>
		</div>
        <div class="col-sm-4" id="middle">
        	<div class="opt2" style="background-color: #ec0101;">SOLD</div>
			<img src="img/p5.jpg" style="height: 250px;width: 300px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 5</h7>
		</div>
		<div class="col-sm-4" id="right">
			<div class="opt1" style="background-color: #79d70f;">In Stock</div>
			<img src="img/p6.jpg" style="height: 250px;width: 300px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 6</h7>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4" id="left">
			<div class="opt2" style="background-color: #ec0101;">SOLD</div>
			<img src="img/p7.jpg" style="height: 250px;width: 400px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 7</h7>
		</div>
        <div class="col-sm-4" id="middle">
        	<div class="opt1" style="background-color: #79d70f;">In Stock</div>
			<img src="img/p8.jpg" style="height: 250px;width: 400px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 8</h7>
		</div>
		<div class="col-sm-4" id="right">
			<div class="opt2" style="background-color: #ec0101;">SOLD</div>
			<img src="img/p9.jpg" style="height: 250px;width: 400px;display: block;margin-left: auto;margin-right: auto;margin-top: 10px;">
			<h7>Painting 9</h7>
		</div>
	</div>
</div>
{{>footer}}