{{>log_header}}

<div class="page-container">
   <div class="col-sm-8">
   	<img src="img/log_back3.jpg" style="height: 800px;width: 1200px;">
   	<!--h1 style="position: absolute;top: 8%;left: 30%;font-size: 70px;color: #ffd31d;font-family: 'Berkshire Swash';">Welcome to</h1>
   	<h1 style="position: absolute;top: 17%;left: 50%;font-size: 70px;color: #ffd31d;font-family: 'Berkshire Swash';">Masterpieces</h1-->
   <h3 style="position: absolute;top: 9%;left: 29%;font-family: 'Patrick Hand';">Masterpieces</h3>
   </div>
   <div class="col-sm-4" style="background-color: #28df99;height: 800px;">
   	<h1 style="text-align: center;font-weight: bolder;font-size: 60px;font-family: 'Sofia';margin-top:100px;padding-bottom: 0px;">Welcome Back :)</h1>
   	<div class="wrapper fadeInDown">
  		<div id="formContent">
    		<!-- Tabs Titles -->
        <h2 class="active" href="">Sign Up </h2>
    		<a href="login"><h2 class="inactive underlineHover" > Log In </h2></a>
    		

    <!-- Icon -->
    		

    <!-- Login Form -->
    		<form method="POST" action="submit_signup">
      			<input type="text" id="login" class="fadeIn second" name="signup" placeholder="Username">
      			<input type="text" id="password" class="fadeIn third" name="signup" placeholder="Password">
            <input type="text" id="PhoneNo" class="fadeIn third" name="signup" placeholder="PhoneNo">
      			<input type="submit" class="fadeIn fourth" value="Sign Up">
    		</form>

    <!-- Remind Passowrd -->
    		<div id="formFooter">
      			<a class="underlineHover" href="#">Forgot Password?</a>
    		</div>

  		</div>
	</div>
   </div>
</div>
{{>footer}}